/*Font detail*/
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
*{
    font-family: 'Karla', sans-serif;
}
/*page*/
.containerViewImg{
    width: 100%;
    height: 100%;
}
.mainviewStyle>img{
    margin-top: 6%;
    object-fit: contain;
    width: 23%;
}
p.textInputStyle{
    height: 30px;
    font-family: Karla;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
}
.skipLink{
    text-decoration: none;
    width: 300px;
    height: 8.5px;
    font-family: Karla;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #828282;
    background-color: blue
}
.skipLinkStyle{
    text-decoration: none;
    width: 350px;
    height: 20px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    margin-top: 60px
}
.skipTest{
    font-family: Karla;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-justify: center;
    color: #828282; 
    display: flex;
    margin: 0 auto;
}


.skipText>p{
    margin-top: 5%;
    font-size: 17px;
}
@media only screen and (max-width: 600px) {
    .mainviewStyle>img {
        margin-top: 19%;
        object-fit: contain;
        width: 82%;
    }
    p.textInputStyle {
        height: 30px;
        font-family: Karla;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: #555555;
    }
    .skipText>p {
        margin-top: 25%;
    }
    center {
    margin-top: 12% !important;
    }
}
/*iphone 5*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    p.textInputStyle {
    height: 30px;
    font-family: Karla;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
    }
    .skipText>p {
    margin-top: 23%;
    font-size: 15px;
    }
    center{
        margin-top: 13%;
    }
    .mainviewStyle>img {
        margin-top: 21%;
        object-fit: contain;
        width: 82%;
    }
}
/* iphone6 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    p.textInputStyle {
    height: 30px;
    font-family: Karla;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
    }
    .skipText>p {
        margin-top: 27%;
        font-size: 16px;
    }
    center{
        margin-top: 13%;
    }
    .mainviewStyle>img {
        margin-top: 21%;
        object-fit: contain;
        width: 82%;
    }
}

/*For Iphone x*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    p.textInputStyle {
    height: 30px;
    font-family: Karla;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
    }
    center{
        margin-top: 13%;
    }
    .skipText>p {
    margin-top: 17%;
    font-size: 19px;
    margin-bottom: 5%;
    }
    .mainviewStyle>img {
        margin-top: 21%;
        object-fit: contain;
        width: 82%;
    }
}