/*Step Indicator*/
.step-indicator {
  width: 55px;
  height: 5px;
  border-radius: 20px;
  border: 0;
  margin-right: 2px;
  }
  .step-indicator.active {
  background-color: #5225b4;
  }
  .step-indicator-wrapper {
  margin: 0 auto;
  display: block;
  text-align: center;
  }
  .marginText {
  margin-top: 5px;
  }
  .backstyle {
  width: 17px;
  height: 12px;
  margin-top: 0px;
  margin-left: 10px;
  }
  .containerView {
  width: 327px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  }
  .containerViewLoader {
  width: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  margin-top: 21%;
  }
  .tabsLoading{
  margin-top: 250px;
  }
  .main {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  }
  @-moz-keyframes spin {
  from {
  -moz-transform: rotate(0deg);
  }
  to {
  -moz-transform: rotate(360deg);
  }
  }
  @-webkit-keyframes spin {
  from {
  -webkit-transform: rotate(0deg);
  }
  to {
  -webkit-transform: rotate(360deg);
  }
  }
  @keyframes spin {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
  }
  .inside {
  width: 100%;
  height: 50%;
  position: absolute;
  margin-top: 50%;
  background: rgb(218, 218, 218);
  }
  .inside:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: -50%;
  background: linear-gradient(
  100deg,
  rgb(218, 218, 218),
  rgb(183, 54, 94),
  rgb(120, 54, 183)
  );
  }
  .inside:after {
  content: "";
  width: 80%;
  height: 160%;
  position: absolute;
  margin-top: -40%;
  margin-left: 10%;
  background: white;
  border-radius: 50%;
  }
  .Step-1-of-2 {
  width: 75px;
  font-size: 11px;
  font-weight: normal;
  margin-top: 0px;
  font-style: normal;
  font-family: Karla;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #d5d5d5;
  margin: 0px 15px auto;
  display: block;
  }
  .next-btn {
  margin: 0 auto;
  display: block;
  opacity: 0.9;
  border-radius: 12.5px;
  background-color: #1caf41;
  margin: 0 auto;
  display: block;
  align-items: center;
  text-align: center;
  text-align: center;
  }
  .Rectangle {
  width: 160px;
  height: 33px;
  border-radius: 5.5px;
  box-shadow: 0 0 1px 1px rgba(203, 190, 190, 0.31);
  background-color: #ffffff;
  margin: 0 auto;
  display: block;
  }
  .Wrapper {
  margin: 0 auto;
  display: block;
  text-align: center;
  }
  .AgeBox {
  width: 61px;
  height: 30px;
  border-radius: 4px;
  border: solid 0.5px #e7e9f1;
  background-color: #ffffff;
  }
  .Male {
  width: 30px;
  height: 30px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #5225b4;
  }
  .Female {
  width: 30px;
  height: 30px;
  border: solid 0.5px #e7e9f1;
  background-color: #ffffff;
  }
  .greyed {
  color: #555555;
  }
  .slick-slider {
  height: 380px;
  }
  .healthInfoCard {
  width: 300px;
  border-radius: 6.5px;
  box-shadow: 0 0 2px 2px rgba(203, 190, 190, 0.31);
  background-color: #ffffff;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 10px;
  }
  .healthInfoSpacing {
  padding-top: 0.5px;
  padding-left: 4%;
  padding-bottom: 6%;
  }
  .indulgeText {
  width: 280px;
  font-family: Karla;
  font-size: 13px;
  color: #0e0e0e;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 15px;
  }
  .rowstyleSmoking {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding-bottom: 2%;
  }
  .indulgeImg {
  width: 40px;
  height: 40px;
  /* margin-right: 6px;
  margin-left: 4px; */
  padding: 21%;
  /* background-color: #5225b4; */
  }
  .indulgeSelectImg {
  width: 70px;
  height: 70px;
  /* margin-left: 10px; */
  }
  .btnStyle {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  }
  .textStyle {
  display: flex;
  justify-content: center;
  }
  .mainViewHealthInfo {
  width: 270px;
  height: 80px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin: 0 auto;
  display: block;
  }
  .checkBoxStyle {
  display: flex;
  margin-left: 10px;
  align-items: center;
  height: 28px;
  }
  /* Check Box */
  /* Customize the label (the container) */
  .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  /* Hide the browser's default checkbox */
  .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  }
  /* Create a custom checkbox */
  .checkmark {
  position: absolute;
  top: -2px;
  left: 3px;
  height: 15px;
  width: 15px;
  /* background-color: #eee; */
  border: solid 0.5px #979797;
  background-color: #f3f3f3;
  }
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
  background-color: #ccc;
  }
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
  background-color: #33b754;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  }
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
  display: block;
  }
  /* Style the checkmark/indicator */
  .container .checkmark:after {
  left: 6px;
  top: 2.5px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  /* check box end */
  .healthInfoHistroyCard {
  width: 300px;
  border-radius: 6.5px;
  box-shadow: 0 0 2px 2px rgba(203, 190, 190, 0.31);
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  }
  .styleComponent {
  margin-top: 20px;
  height: 0px;
  }
  .ButtonComponent {
  margin-top: 0%;
  }
  .historyText {
  width: 280px;
  font-family: Karla;
  font-size: 13px;
  color: #0e0e0e;
  margin-left: -5px;
  }
  .textHistoryStyle {
  display: flex;
  margin-top: 15px;
  }
  .checkBoxHealthInfo {
  width: 20px;
  height: 20px;
  border: solid 0.5px #979797;
  background-color: #f3f3f3;
  margin-left: 20px;
  }
  .flexDirectionStyle {
  justify-content: center;
  }
  .checkboxTextStyle {
  font-family: Karla;
  font-size: 12px;
  color: #0e0e0e;
  margin-left: -2px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  }
  /* ////////////////////////////// */
  .yourStyleView {
  width: 300px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  }
  .yourStyleContainer {
  justify-content: "center";
  align-items: center;
  }
  .yourNameStyle {
  margin: 0 auto;
  display: block;
  text-align: center;
  color: #191;
  font-size: 20px;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  font-family: Karla;
  box-shadow: 0 0 1.5px 1.5px rgba(203, 190, 190, 0.31);
  background-color: #ffffff;
  }
  .maleAndFemaleStyle {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  }
  .maleFemaleStyle {
  width: 150px;
  justify-content: center;
  align-items: center;
  }
  .viewStyleAge {
  width: 120px;
  justify-content: center;
  align-items: center;
  }
  .ageBoxStyle {
  display: flex;
  align-items: center;
  }
  .maleStyleFemale {
  width: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  }
  .malestyleView {
  width: 75px;
  margin-left: 10px;
  }
  .maleStyle {
  width: 75px;
  display: flex;
  }
  .maleTextViwStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Karla;
  font-weight: bold;
  font-size: 10px;
  color: #7f7f7f;
  }
  .ageStyle {
  width: 50px;
  color: #191919;
  }
  .genderView {
  margin-right: 25%;
  }
  .maleCircle {
  width: 58px;
  height: 56px;
  border-radius: 60px;
  align-items: center;
  justify-content: center;
  }
  .ageInput {
  width: 117px;
  height: 50px;
  display: flex;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #e7e9f1;
  background-color: #fff;
  cursor: text;
  color: #303030;
  font-weight: 700;
  font-size: 22px;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  }
  .yearStyle {
  color: #e7e9f1;
  margin-bottom: 0px;
  margin-left: -40px;
  font-weight: 600;
  font-size: 17px;
  }
  .ageMaleFemaleStyleText {
  justify-content: center;
  align-items: center;
  font-family: Karla;
  font-size: 12px;
  color: #191919;
  margin-left: 15px;
  }
  .ageTextViewStyle {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-family: Karla;
  font-size: 10px;
  color: #7f7f7f;
  }
  .Wrapper {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 50px;
  }
  .AgeBox {
  width: 61px;
  height: 30px;
  border-radius: 4px;
  border: solid 0.5px #e7e9f1;
  background-color: #ffffff;
  cursor: text;
  }
  .H-W-Wrapper {
  margin: 0 auto;
  display: block;
  text-align: center;
  }
  .Height {
  width: 77px;
  height: 82px;
  border-radius: 5.5px;
  box-shadow: 0 0 1px 1px rgba(203, 190, 190, 0.31);
  background-color: #ffffff;
  }
  .flexCenter {
  margin: 0 auto;
  display: block;
  width: 300px;
  justify-content: center;
  align-items: center;
  }
  .heightWeightStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
  }
  .weightStyle {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 0.5px solid #e7e9f1;
  box-shadow: 0 0 1.5px 1.5px rgba(203, 190, 190, 0.31);
  margin: 0 auto;
  display: block;
  margin-left: 10px;
  text-align: center;
  }
  .heightText {
  font-family: Karla;
  font-size: 12px;
  text-align: center;
  color: #0e0e0e;
  margin-top: 29%;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  }
  .heightFlex {
  display: flex;
  align-items: center;
  margin-top: 4%;
  justify-content: center;
  }
  .fitTextStyle {
  margin-bottom: -6px;
  margin-left: -4px;
  text-align: center;
  font-family: Karla;
  font-size: 12px;
  color: #e7e9f1;
  }
  .inTextStyleIn {
  margin-left: 0px;
  font-family: Karla;
  font-weight: bold;
  font-size: 11px;
  color: #646262;
  text-align: center;
  margin-top: 8px;
  }
  .kgTextStyle {
  font-family: Karla;
  font-size: 12px;
  margin-top: 24px;
  text-align: center;
  font-weight: bold;
  color: #646262;
  }
  .mainStyle {
  display: flex;
  }
  .fitStyleIn {
  width: 29px;
  height: 24px;
  border: 0;
  background-color: #fff;
  border: solid #E7E9F1;
  border-width: .1px .1px 1px;
  cursor: text;
  font-size: 24px;
  margin-left: 3px;
  margin-right: 0px;
  text-align: center;
  font-weight: 600;
  color: #1919;
  }
  .heightStyle {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 0.5px solid #e7e9f1;
  box-shadow: 0 0 1.5px 1.5px rgba(203, 190, 190, 0.31);
  margin: 0 auto;
  display: block;
  }
  .inMainStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  }
  .fitStyle {
  width: 29px;
  height: 24px;
  text-align: center;
  border: 0;
  background-color: #fff;
  border: solid #E7E9F1;
  border-width: .1px .1px 1px;
  cursor: text;
  font-size: 24px;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: 600;
  color: #1919;
  }
  .marginLeftHeight {
  margin-left: 10px;
  }
  .inTextStyle {
  margin-left: 0px;
  font-family: Karla;
  font-size: 11px;
  font-weight: bold;
  color: #646262;
  text-align: center;
  margin-top: 5px;
  }
  .ftStyles {
  margin-right: 20px;
  }
  .fitTextStyle {
  font-family: Karla;
  font-size: 16px;
  color: #646262;
  }
  .kgStyles {
  width: 40px;
  height: 22px;
  border: solid 0.1px #e7e9f1;
  cursor: text;
  text-align: center;
  margin-top: 9px;
  border-bottom: 1px solid #e7e9f1;
  font-weight: 600;
  color: #1919;
  margin-left: 187%;
  font-size: 24px;
  margin-right: 7%;
  }
  .maleViewStyle {
  align-items: center;
  justify-content: center;
  background-color: #5225b4;
  }
  .greyed {
  color: #555555;
  }
  /*Cigratte*/
  .fullArea {
    margin-left: 5%;
    margin-right: 6%;
  }
  @media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio:0) {
  .containerViewLoader {
  width: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  margin-top: 50%;
  }
  .ButtonComponent {
  margin-top: 7%;
  }
  
  }
  /* i phone 6/7/8 */
  @media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-device-pixel-ratio:0){
  .kgStyles{
  margin-left: 85%;
  }
  .ageInput{
  width: 110px;
  }
  .fitStyle{
  width: 24px;
  }
  .fitStyleIn{
  width: 24px;
  }
  .maleFemaleStyle{
  margin-right: 5%;
  }
  
  }
  /* I phone 5 */
  @media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-min-device-pixel-ratio:0){
  .ButtonComponent{
  margin-top:5%;
  }
  .kgStyles{
  margin-left: 80%;
  }
  .fitStyle{
  width: 24px;
  }
  .fitStyleIn{
  width: 24px;
  }
  .maleFemaleStyle{
  margin-right: 5%;
  }
  }
  /* I Phone X */
  @media screen and (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio:0){
  .kgStyles{
  margin-left:80%;
  }
  .maleFemaleStyle{
  margin-right: 5%;
  }
  .fitStyle{
  width: 24px;
  }
  .fitStyleIn{
  width: 24px;
  }
  }
  /* I phone 6/7/8 plus */
  @media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-min-device-pixel-ratio:0){
  .kgStyles{
  margin-left: 85%;
  }
  .ageInput{
  width: 110px;
  }
  .fitStyle{
  width: 24px;
  }
  .fitStyleIn{
  width: 24px;
  }
  .maleFemaleStyle{
  margin-right: 5%;
  }
  }