/* Karla Font */
/* latin-ext */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Karla"), local("Karla-Regular"),
  url(../../assets/fonts/Karla-Regular.ttf) format("ttf");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
  U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Karla"), local("Karla-Regular"),
  url(../../assets/fonts/Karla-Regular.ttf) format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
  U+FEFF, U+FFFD;
  }
  
  /* Loading Bar Css */
  .loadingDiv {
  margin-top: 180px;
  }
  .page .pageCenter {
  text-align: -webkit-center;
  width: 100%;
  }
  /* Full Page */
  * {
  font-family: Karla;
  zoom: 0;
  }
  .Our-Professionals-ar {
  margin: 0 auto;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 150px;
  margin-bottom: -100px;
  font-family: Karla;
  color: #2b2c2c;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  }
  /*Progress Bar*/
  .progressBar {
  width: 51%;
  margin-top: 7%;
  float: left;
  margin-left: -12.5%;
  }
  svg.rc-progress-line {
  height: 6px;
  width: 97%;
  float: left;
  margin-top: 3%;
  border-radius: 25px;
  margin-left: -6%;
  }
  /* callDoctor section */
  .leftSide {
  width: 75%;
  }
  .callDoctor {
  width: 332px;
  height: 40px;
  display: flex;
  box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  padding: 9.4px;
  }
  .callIcon {
  width: 66%;
  }
  .docName {
  color: #5225b4;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 4px;
  }
  .designation {
  text-align: left;
  margin-top: 0px;
  font-size: 12px;
  color: #333;
  font-weight: bold;
  }
  .docImage {
  border-radius: 50px;
  float: left;
  margin-right: 12px;
  }
  .rightSide {
  width: 15%;
  }
  .rightSide1 {
  width: 15%;
  margin-left: 5%;
  }
  .rightSide1 > img {
  width: 31px;
  float: right;
  }
  /* ResultDiv with BMI meter */
  .BmiMeter {
  width: 350px;
  height: 379.9px;
  margin-top: -3.2%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  }
  .BmiMeter {
  background-image: -webkit-linear-gradient(#10a873 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#10a873 27%, #6339bb 109%);
  background-image: linear-gradient(#10a873 27%, #6339bb 109%);
  }
  .BmiMeterNormal {
  background-image: -webkit-linear-gradient(#10a873 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#10a873 27%, #6339bb 109%);
  background-image: linear-gradient(#10a873 27%, #6339bb 109%);
  }
  .BmiMeterObese {
  background-image: -webkit-linear-gradient(#dc1818 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#dc1818 27%, #6339bb 109%);
  background-image: linear-gradient(#dc1818 27%, #6339bb 109%);
  }
  .BmiMeterUnderWeight {
  background-image: -webkit-linear-gradient(#134d9e 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#134d9e 27%, #6339bb 109%);
  background-image: linear-gradient(#134d9e 27%, #6339bb 109%);
  }
  .BmiMeterOverWeight {
  background-image: -webkit-linear-gradient(#ec4100 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#ec4100 27%, #6339bb 109%);
  background-image: linear-gradient(#ec4100 27%, #6339bb 109%);
  }
  .BmiMeterSeverlyObese {
  background-image: -webkit-linear-gradient(#a30e00 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#a30e00 27%, #6339bb 109%);
  background-image: linear-gradient(#a30e00 27%, #6339bb 109%);
  }
  .BmiMeterSeverlyUnderWeight {
  background-image: -webkit-linear-gradient(#052653 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#052653 27%, #6339bb 109%);
  background-image: linear-gradient(#052653 27%, #6339bb 109%);
  }
  .BmiMeterVerySeverelyObese{
  background-image: -webkit-linear-gradient(#a30e00 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#a30e00 27%, #6339bb 109%);
  background-image: linear-gradient(#a30e00 27%, #6339bb 109%);
  }
  .BmiMeterSeverelyUnderWeight{
  background-image: -webkit-linear-gradient(#052653 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#052653 27%, #6339bb 109%);
  background-image: linear-gradient(#052653 27%, #6339bb 109%);
  }
  .BmiMeterNormal, .BmiMeterObese, .BmiMeterUnderWeight, .BmiMeterOverWeight, .BmiMeterSeverlyObese, .BmiMeterSeverlyUnderWeight {
  width: 350px;
  margin-top: -3.2%;
  height: 379.9px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  }
  .BmiMeterVerySeverelyObese, .BmiMeterSeverelyUnderWeight {
  width: 350px;
  margin-top: -3.2%;
  height: 426.9px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  }
  .ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #6339bb;
  /* Control the thikness of your lines */
  stroke-width: 2px;
  /* Create a dashed line with a pattern */
  }
  /* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
  .ct-series-a .ct-point {
  /* Colour of your points */
  stroke: #6339bb;
  /* Size of your points */
  stroke-width: 5px;
  /* Make your points appear as squares */
  stroke-linecap: circle;
  }
  /*For graph*/
  #sign1 {
  width: 0px;
  height: 13.5px;
  background-color: #ffffff;
  opacity: 0.2;
  border: 1px solid #ffffff;
  transform: rotate(121deg);
  margin-top: -52%;
  margin-left: -42.6%;
  }
  #sign2 {
  width: 0px;
  height: 14px;
  background-color: #ffffff;
  opacity: 0.2;
  border: 1px solid #ffffff;
  transform: rotate(149deg);
  margin-top: -14.5%;
  margin-left: -21.5%;
  }
  #sign3 {
  width: 0px;
  height: 15px;
  background-color: #ffffff;
  opacity: 0.2;
  border: 1px solid #ffffff;
  transform: rotate(211deg);
  margin-top: -4%;
  margin-left: 22%;
  }
  #sign4 {
  width: 0px;
  height: 14px;
  background-color: #ffffff;
  opacity: 0.2;
  border: 1px solid #ffffff;
  transform: rotate(230deg);
  margin-top: 0.5%;
  margin-left: 37.5%;
  }
  #sign5 {
  width: 0px;
  height: 12px;
  background-color: #ffffff;
  opacity: 0.2;
  border: 1px solid #ffffff;
  transform: rotate(245deg);
  margin-top: 4.2%;
  margin-left: 47%;
  }
  #circle {
  width: 159px;
  background: rgba(0, 0, 0, 0);
  height: 148px;
  border: 17px solid white;
  margin-top: -20.8%;
  border-radius: 50%;
  mix-blend-mode: overlay;
  opacity: 0.4;
  }
  #circleNew {
  width: 28%;
  height: 103px;
  border: 23.8px solid #fff;
  margin-top: -45%;
  border-radius: 50%;
  }
  #circle1 {
  background: #fff;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  margin-top: -45%;
  margin-left: 0.5%;
  }
  .bmiText {
  font-size: 10.5px;
  padding-top: 10%;
  color: #777373;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  }
  .bmiValue {
  margin-block-start: -11px;
  margin-block-end: 0em;
  font-size: 21px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  }
  .bmiLimit {
  font-size: 10px;
  margin-block-start: 0px;
  color: #4a4747;
  font-weight: bold;
  }
  .healthStatus {
  color: #fff;
  padding-top: 48%;
  font-size: 40px;
  text-align: center;
  }
  .healthStatusText {
  color: #fff;
  padding-top: 48%;
  font-size: 30px;
  text-align: center;
  }
  /*border*/
  .borderWidth {
  width: 347px;
  border: 2px solid #d8d8d8;
  }
  .ResultDiv {
  width: 351px;
  height: auto;
  position: absolute;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border-radius: 7px;
  z-index: 99;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }
  .container {
  display: flex;
  }
  .userName {
  text-align: left;
  margin-top: 5px;
  margin-left: -21px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  margin-bottom: 0px;
  }
  .small {
  font-size: 11px;
  float: left;
  color: #b95048;
  margin-left: 12px;
  margin-bottom: 0px;
  margin-top: 3%;
  }
  .lossImg{
  width: 249px;
  height: 31px;
  margin-top: 4%;
  margin-left: -1.1%;
  }
  .userTest {
  background-color: #ffffff;
  border: solid 1px #03a62c;
  border-radius: 50px;
  color: #03a62c;
  font-size: 11px;
  height: 25px;
  margin-top: 10%;
  width: 77px;
  margin-left: -31%;
  font-family: Karla;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  }
  .userDescription {
  text-align: left;
  width: 95%;
  font-size: 12.5px;
  font-weight: 590;
  margin-left: 3%;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 1%;
  font-family: Karla;
  }
  /* For Bold */
  b {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  }
  /*  Health risks you are prone to css */
  .healthRisk {
  width: 351px;
  height: auto;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  overflow-y: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  }
  .healthRisk::-webkit-scrollbar {
  width: 0 !important;
  }
  .cardInline::-webkit-scrollbar {
  width: 0 !important;
  }
  .healthRisk > p {
  margin-left: 2%;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4c4c4c;
  font-size: 15px;
  }
  .diseaseCardWrapper {
  display: flex;
  height: auto;
  }
  .diseaseDiv1 {
  width: 28%;
  height: auto;
  margin-bottom: 1%;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(244, 244, 244, 0.5);
  background-color: #ffffff;
  border: solid 0.4px #efefef;
  position: relative;
  margin-right: 1%;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 4%;
  /* animation: moveleft 2s 1 normal forwards; */
  }
  .diseaseDiv2 {
  width: 28%;
  height: auto;
  margin-bottom: 2%;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(244, 244, 244, 0.5);
  background-color: #ffffff;
  border: solid 0.4px #efefef;
  position: relative;
  margin-right: 1%;
  padding-top: 4%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  animation: moveleft 2s 1 normal forwards;
  }
  .diseaseDiv3 {
  width: 28%;
  height: auto;
  margin-bottom: 2%;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(244, 244, 244, 0.5);
  background-color: #ffffff;
  border: solid 0.4px #efefef;
  position: relative;
  margin-right: 1%;
  padding-top: 4%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  animation: moveleft 2s 1 normal forwards;
  }
  @keyframes moveleft {
  from {
  transform: translateX(350px);
  }
  to {
  transform: translateX(0);
  }
  }
  .diseaseDiv1 > img {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
  }
  .diseaseDiv2 > img {
  margin-left: 20%;
  }
  .diseaseDiv3 > img {
  margin-left: 20%;
  }
  .diseaseTitle {
  height: auto;
  font-family: Karla;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  margin-bottom: -5px;
  letter-spacing: normal;
  color: #000000;
  }
  .smallDetail {
  width: auto;
  height: auto;
  font-family: Karla;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #777373;
  }
  /* Recommendation goal */
  .goalGraph {
  width: 353px;
  height: 231px;
  border: solid 1px #efefef;
  margin-bottom: 2%;
  margin-left: 3%;
  border-radius: 5px;
  }
  .graph {
  box-sizing: border-box;
  /* padding: 10px; */
  width: 100%;
  height: 190 px;
  background-color: #fff;
  margin-top: 5%;
  }
  .goalDiv {
  width: 370px;
  height: 236px;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 3%;
  }
  .goalDiv > p {
  margin-left: 4%;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4c4c4c;
  font-size: 15px;
  }
  .shapePara {
  color: #fff;
  margin: 19px;
  font-family: Karla;
  padding-top: 2.5%;
  font-size: 12px;
  margin-top: -11.4%;
  }
  .shape {
  width: 268px;
  height: 26px;
  background-image: linear-gradient(to right, #5e94cd, #5d5eb9);
  margin-top: -3%;
  }
  .shapeTriangle {
  width: 0;
  height: 0;
  margin-top: -14.8%;
  margin-left: 100%;
  border-top: 12.5px solid transparent;
  border-left: 30px solid #5d5eb9;
  border-bottom: 13.5px solid transparent;
  }
  .recommendedPlanDiv {
  width: 353px;
  height: auto;
  margin-top: 0%;
  position: relative;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: -1.2%;
  }
  .recommendedPlanDivSkipped{
  width: 353px;
  height: auto;
  margin-top: 6%;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: -1.2%;
  }
  .recommendedPlanDiv  > p {
  margin-left: 4%;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4c4c4c;
  }
  .recommendedPlanDivSkipped > p{
  margin-left: 4%;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4c4c4c;
  }
  .weightPlan {
  width: 357px;
  height: 104px;
  margin-left: 1.4%;
  background-repeat: round;
  background-image: url("../../assets/weightPlan.png");
  }
  .weightPlanSkipped {
  width: 357px;
  height: 104px;
  margin-left: 1.4%;
  }
  .planBox {
  width: 326px;
  height: 88px;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(left, #5e94cd, #5d5eb9);
  background-image: -o-linear-gradient(left, #5e94cd, #5d5eb9);
  background-image: linear-gradient(to right, #5e94cd, #5d5eb9);
  box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.12);
  color: #fff;
  padding: 15px;
  margin-left: 3%;
  }
  .weightPlan > h3 {
    text-align: center;
    color: #ffffff;
    padding-top: 11%;
  }
  .weightPlanSkipped > h3 {
  text-align: left;
  margin-top: -84px;
  color: #ffffff;
  padding-left: 6%;
  }
  .weightPlan > .validity {
  font-weight: 500;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 12.5px;
  color: #ffffff;
  padding-left: 6%;
  margin-top: -11px;
  }
  .weightPlanSkipped > .validity {
  font-weight: 500;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 12.5px;
  color: #ffffff;
  padding-left: 6%;
  margin-top: -11px;
  }
  .weightPlan > .price {
  font-weight: 500;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 12.5px;
  color: #ffffff;
  padding-left: 6%;
  }
  .weightPlanSkipped > .price {
  font-weight: 500;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 12.5px;
  color: #ffffff;
  padding-left: 6%;
  }
  .planButton {
  background-color: #01a62d;
  border-radius: 15px;
  padding: 12px;
  color: #fff;
  font-size: 15px;
  border: 0px;
  bottom: 0;
  left: 39%;
  width: 353px;
  position: fixed;
  right: 0;
  }
  .boxGridright,
  .boxGridleft {
  width: 334px;
  height: 95px;
  text-align: left;
  background-color: #f9f9f9;
  padding: 12px;
  margin-left: 8px;
  margin-top: 0.5%;
  }
  .boxGridright > .leftText {
  width: 45%;
  float: left;
  padding-left: 4%;
  }
  .boxGridright > .leftText > p {
  margin-top: 4px;
  font-weight: bold;
  color: #3c3c3c;
  font-size: 14.5px;
  }
  .boxGridright > .leftText > .smallText {
  width: auto;
  font-family: Karla;
  font-size: 10.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #838384;
  margin-top: -9px;
  }
  .boxGridright > .rightText {
  width: 48%;
  float: right;
  margin-right: 8px;
  }
  .boxGridright > .rightText > img {
  float: right;
  width: 50%;
  margin-right: 12%;
  }
  .boxGridleft > .leftText > img {
  width: 70%;
  float: left;
  margin-left: 8%;
  }
  /* grid 2 */
  .boxGridleft > .leftText {
  width: 42%;
  float: left;
  }
  .boxGridleft > .rightText > p {
  margin-top: 4px;
  font-weight: bold;
  color: #3c3c3c;
  font-size: 14.5px;
  }
  .boxGridleft > .rightText > .smallText {
  width: auto;
  font-family: Karla;
  font-size: 10.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #838384;
  margin-top: -9px;
  }
  .boxGridleft > .rightText {
  width: 46%;
  float: right;
  }
  .boxGridleft > .rightText > img {
  float: right;
  width: 50%;
  margin-right: 8%;
  }
  .oval {
  height: 96px;
  width: 147px;
  opacity: 0.2;
  margin-top: -23%;
  transform: rotate(90deg);
  margin-left: 70%;
  mix-blend-mode: multiply;
  background-color: #5947b2;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  border-top: 0;
  box-sizing: border-box;
  }
  /* trainer panel */
  .trainerCardBox {
  display: flex;
  overflow-x: scroll;
  width: 357px;
  }
  .trainerCardBox::-webkit-scrollbar {
  width: 0 !important;
  }
  .topTrainers,
  .testimonials {
  width: 351px;
  height: auto;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  }
  .cardInline {
  display: flex;
  margin-bottom: 15%;
  overflow-x: scroll;
  width: 361px;
  }
  .trainerCardBox::-webkit-scrollbar {
  width: 0 !important;
  }
  .topTrainers > p,
  .testimonials > p {
  margin-left: 2%;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4c4c4c;
  }
  .testimonialsHeading {
  margin-left: 4%;
  font-size: 14px;
  margin-bottom: 0px;
  height: 11px;
  word-break: initial;
  width: 210px;
  font-family: Karla;
  font-weight: bold !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.5;
  letter-spacing: normal;
  color: #2d2d2d;
  }
  .trainerCard {
  text-align: center;
  float: left;
  width: 100%;
  background-color: #ffffff;
  margin-right: 0%;
  margin-bottom: 0%;
  }
  .trainerCard > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  }
  .trainerCard > .name {
  color: #5225b4;
  font-style: normal;
  font-size: 10.8px;
  width: 100px;
  }
  .trainerCard > p {
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 10px;
  font-style: italic;
  color: #3c3c3c;
  }
  /* testimonials */
  .cardView {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.12);
  height: auto;
  padding-top: 1px;
  display: block;
  margin-left: 1px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 3.5%;
  }
  .cardView > p {
  margin-left: 5.5%;
  font-size: 13px;
  margin-bottom: 0px;
  height: 11px;
  font-family: Karla;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.5;
  letter-spacing: normal;
  color: #2d2d2d;
  }
  .statusButton {
  margin-top: -20.5%;
  z-index: 99;
  }
  .userImages {
  width: 184px;
  height: 100px;
  margin-bottom: 0px;
  margin-top: 15px;
  margin-right: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 8px;
  }
  .label {
  /*background-color: #1e054e;*/
  background-image: -webkit-linear-gradient(#695b85, #53456f);
  background-image: -o-linear-gradient(#695b85, #53456f);
  background-image: linear-gradient(#695b85, #53456f);
  height: 25px;
  font-weight: 300;
  color: #fff;
  opacity: 0.99;
  margin-left: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-right: 8px;
  }
  .label > p {
  padding: 6px;
  padding-left: 18px;
  font-size: 12px;
  font-weight: bold;
  }
  .smallLabel {
  height: 24px !important;
  font-family: Karla !important;
  font-size: 9px !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.4 !important;
  color: #828283 !important;
  }
  .mapIcon {
  width: 15px;
  height: 20px;
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 3%;
  }
  .iconInline {
  display: flex;
  margin-top: 11%;
  }
  /* For Skip test card */
  .tipsCard {
  width: 358px;
  margin-top: 1%;
  height: auto;
  color: #4c4c4c;
  display: flex;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 1%;
  margin-left: 2%;
  }
  .cardOne {
  width: 43%;
  margin-right: 3%;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.12);
  }
  .weightHealthy{
  width: 364px !important;
  height: 136px !important;
  margin: 0 auto;
  display: block;
  margin-top: 1%;

  }
  .planBoxOne {
  width: 333px !important;
  height: 122px !important;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(left, #5e94cd, #5d5eb9);
  background-image: -o-linear-gradient(left, #5e94cd, #5d5eb9);
  background-image: linear-gradient(to right, #5e94cd, #5d5eb9);
  box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.12);
  color: #fff;
  padding: 15px;
  margin-bottom: 1%;
  margin-left: 0.5% !important;
  }
  .planBoxTwo {
  width: 330px !important;
  margin-bottom: -5% !important;
  height: 121px !important;
  border-radius: 10px;
  box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.12);
  color: #fff;
  padding: 15px;
  margin-left: 0.5% !important;
  margin-top: 1%;
  }
  .femaleDoctor{
  height: 142px;
  margin-left: -26%;
  margin-bottom: -50%;
  width: 102px;
  margin-top: -10%;
  }
  .playIcon {
  margin-top: 20%;
  }
  .cardOne > .cardName {
  color: #5225b4;
  font-size: 15px;
  margin-bottom: 0;
  }
  .imageCurve {
  border-bottom-left-radius: 80%;
  float: right;
  width: 53%;
  margin: -6px;
  }
  .planTextLeft {
  text-align: left;
  width: 70%;
  }
  .planTextLeft > h3 {
  font-weight: bold;
  text-align: left;
  margin-top: -114px;
  color: #ffffff;
  padding-left: 0%;
  margin-left: -13%;
  font-size: 17px;
  }
  .planTextLeft > p {
  text-align: left;
  margin-top: -8px;
  color: #ffffff;
  padding-left: 0%;
  margin-left: -13%;
  padding-right: 72px;
  font-size: 12px;
  }
  .cardButton {
  width: 165px;
  border-radius: 25px;
  background-color: #01a62d;
  border: 0;
  padding: 7px;
  color: #fff;
  margin-left: -14%;
  }
  .planTextRight {
  text-align: left;
  width: 70%;
  float: right;
  margin-top: -4%;
  margin-right: -6%;
  }
  .planTextRight > h2 {
  margin-block-start: 0.3em !important;
  margin-block-end: 0 !important;
  font-weight: bold;
  font-size: 15.5px;
  color: rgba(0, 0, 0, 0.7);
  }
  .planTextRight > p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  margin-top: 2%;
  }
  .cardButtonOne {
  width: 203px;
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid #01a62d;
  padding: 9px;
  color: #01a62d;
  font-weight: semi-bold;
  font-weight: 600;
  font-size: 12px;
  }
  /*Responsive CSS Started*/
  @media screen and (device-width: 360px) and (device-height: 640px) and (orientation: portrait)  {
  .pageCenter {
  margin-top: 0% !important;
  width: 100%;
  }
  .diseaseDiv1,
  .diseaseDiv2,
  .diseaseDiv3 {
  width: 25%;
  }
  .shapeTriangle {
  margin-top: -14.8%;
  }
  .weightPlan {
  width: 382px;
  margin-left: 2%;
  }
  .weightPlanSkipped{
  width: 385px;
  margin-left: -1%;
  }
  .callDoctor {
  width: 395px;
  }
  .BmiMeterNormal,
  .BmiMeter,
  .BmiMeterObese,
  .BmiMeterUnderWeight,
  .BmiMeterOverWeight,
  .BmiMeterSeverlyObese,
  .BmiMeterSeverlyUnderWeight {
  width: 100%;
  height: 401px;
  }
  .BmiMeterVerySeverelyObese{
  width: 412px;
  margin-top: -3.2%;
  height: 409.9px;
  }
  .BmiMeterSeverelyUnderWeight{
  width: 412px;
  margin-top: -3.2%;
  height: 456.9px;
  }
  .ResultDiv {
  width: 371px;
  margin-top: -7.7%;
  }
  .borderWidth {
  width: 99%;
  }
  #circle {
  margin-top: -17.35%;
  }
  #circleNew {
  margin-top: -38.6%;
  width: 24%;
  }
  #circle1 {
  margin-top: -37%;
  }
  #sign1 {
  margin-top: -44.5%;
  margin-left: -36.6%;
  }
  #sign2 {
  margin-top: -12%;
  margin-left: -18.5%;
  }
  #sign3 {
  margin-top: -3.5%;
  margin-left: 19%;
  }
  #sign4 {
  margin-top: 0.5%;
  margin-left: 31.5%;
  }
  #sign5 {
  margin-top: 3.2%;
  margin-left: 40%;
  }
  .healthRisk {
  width: 100%;
  height: auto;
  }
  .goalDiv {
  width: 100%;
  }
  .goalGraph {
  width: 89%;
  }
  .recommendedPlanDiv {
  width: 100%;
  margin-top: 10%;
  }
  .recommendedPlanDivSkipped{
  margin-top: 19%;
  }
  .weightHealthy {
  width: 389px !important;
  height: 136px !important;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  margin-left: 1.5%;
  }
  .planBox {
  width: 88%;
  }
  .boxGridright,
  .boxGridleft {
  width: 81%;
  margin-left: -24px;
  height: 74px;
  }
  .topTrainers > p,
  .testimonials > p {
  margin-left: 4%;
  }
  .trainerCardBox {
  width: 378px;
  }
  .diseaseCardWrapper {
  margin-left: 2%;
  }
  .boxGridright > .rightText {
  width: 40%;
  float: right;
  margin-right: 11%;
  }
  .boxGridleft > .leftText {
  width: 35%;
  float: left;
  margin-left: 2%;
  }
  .topTrainers,
  .testimonials {
  width: 100%;
  }
  .planButton {
  left: 4%;
  width: 86%;
  }
  .cardInline {
  margin-bottom: 8%;
  margin-left: 3%;
  }
  .planBoxTwo {
  width: 360px !important;
  margin-bottom: -15% !important;
  height: 121px !important;
  margin-left: 2.5% !important;
  margin-top: 5%;
  }
  .planBoxOne{
  width: 362px !important;
  margin-top: 5%;
  margin-left: 2.5% !important;
  }
  .femaleDoctor{
  margin-bottom: -46%;
  }
  }
  /* Normal Phone like redmi*/
  @media only screen and (min-width: 391px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio:0) and (orientation: portrait) {
  .pageCenter {
  margin-top: 0% !important;
  width: 100%;
  }
  .diseaseDiv1,
  .diseaseDiv2,
  .diseaseDiv3 {
  width: 26%;
  margin-right: 2%;
  }
  .shapeTriangle {
  margin-top: -14.8%;
  }
  .weightPlan {
  width: 370px;
  margin-left: 2%;
  }
  .weightPlanSkipped{
  width: 385px;
  margin-left: -1%;
  }
  .callDoctor {
  width: 95%;
  }
  .BmiMeterNormal,
  .BmiMeter,
  .BmiMeterObese,
  .BmiMeterUnderWeight,
  .BmiMeterOverWeight,
  .BmiMeterSeverlyObese,
  .BmiMeterSeverlyUnderWeight {
  width: 100%;
  height: 401px;
  }
  .BmiMeterSeverelyUnderWeight{
  width: 391px;
  margin-top: -3.2%;
  height: 446.9px;
  }
  .BmiMeterVerySeverelyObese{
  width: 391px;
  margin-top: -3.2%;
  height: 446.9px;
  }
  .ResultDiv {
  width: 100%;
  margin-top: -6.7%;
  }
  .borderWidth {
  width: 100%;
  }
  #circle {
  margin-top: -18%;
  }
  #circleNew {
  margin-top: -39.8%;
  width: 25%;
  }
  #circle1 {
  margin-top: -40%;
  width: 25%;
  }
  #sign1 {
  margin-top: -45.9%;
  margin-left: -40.6%;
  }
  #sign2 {
  margin-top: -13.5%;
  margin-left: -20.5%;
  }
  #sign3 {
  margin-top: -4%;
  margin-left: 20%;
  }
  #sign4 {
  margin-top: 1%;
  margin-left: 34.5%;
  }
  #sign5 {
  margin-top: 3.2%;
  margin-left: 44%;
  }
  .healthRisk {
  width: 100%;
  height: auto;
  }
  .goalDiv {
  width: 100%;
  }
  .goalGraph {
  width: 94%;
  }
  .recommendedPlanDiv {
  width: 100%;
  margin-top: 20%;
  }
  .recommendedPlanDivSkipped{
  margin-top: 19%;
  }
  .weightHealthy {
  width: 389px !important;
  height: 136px !important;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  margin-left: 1.5%;
  }
  .planBox {
  width: 88%;
  }
  .boxGridright,
  .boxGridleft {
  width: 86%;
  margin-left: 0px;
  height: 74px;
  }
  .topTrainers > p,
  .testimonials > p {
  margin-left: 4%;
  }
  .trainerCardBox {
  width: 378px;
  }
  .diseaseCardWrapper {
  margin-left: 4%;
  }
  .boxGridright > .rightText {
  width: 40%;
  float: right;
  margin-right: 11%;
  }
  .boxGridleft > .leftText {
  width: 35%;
  float: left;
  margin-left: 2%;
  }
  .topTrainers,
  .testimonials {
  width: 100%;
  }
  .testimonials {
  margin-bottom: 2%;
  }
  .planButton {
  left: 4%;
  width: 92%;
  margin-bottom: 2%;
  }
  .planButtonNew{
  position: absolute;
  }
  .cardInline {
  margin-bottom: 8%;
  margin-left: 3%;
  }
  .planBoxTwo {
  width: 360px !important;
  margin-bottom: -15% !important;
  height: 121px !important;
  margin-left: 2.5% !important;
  margin-top: 5%;
  }
  .planBoxOne{
  width: 362px !important;
  margin-top: 5%;
  margin-left: 2.5% !important;
  }
  .femaleDoctor{
  margin-bottom: -46%;
  }
  }
  /* VIVO */
  @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-min-device-pixel-ratio:0) and (orientation: portrait) {
  .pageCenter {
  margin-top: 0% !important;
  width: 100%;
  }
  .shapeTriangle {
  margin-top: -14.8%;
  }
  .weightPlan {
  width: 380px;
  margin-left: 3%;
  }
  .weightPlanSkipped{
  width: 385px;
  margin-left: -4%;
  }
  .callDoctor {
  width: 395px;
  }
  .BmiMeterNormal,
  .BmiMeter,
  .BmiMeterObese,
  .BmiMeterUnderWeight,
  .BmiMeterOverWeight,
  .BmiMeterSeverlyObese,
  .BmiMeterSeverlyUnderWeight {
  width: 412px;
  height: 410px;
  }
  .ResultDiv {
  width: 412px;
  margin-top: -6.7%;
  }
  .borderWidth {
  width: 99%;
  }
  #circleNew {
  margin-top: -38.5%;
  width: 24%;
  }
  #circle {
  margin-top: -17.35%;
  }
  #circleNew {
  margin-top: -38.6%;
  width: 24%;
  }
  #circle1 {
  margin-top: -37%;
  }
  #sign1 {
  margin-top: -44.5%;
  margin-left: -36.6%;
  }
  #sign2 {
  margin-top: -12%;
  margin-left: -18.5%;
  }
  #sign3 {
  margin-top: -3.5%;
  margin-left: 19%;
  }
  #sign4 {
  margin-top: 0.5%;
  margin-left: 31.5%;
  }
  #sign5 {
  margin-top: 3.2%;
  margin-left: 40%;
  }
  .healthRisk {
  width: 100%;
  height: auto;
  }
  .goalDiv {
  width: 100%;
  }
  .goalGraph {
  width: 94%;
  }
  .recommendedPlanDiv {
  width: 100%;
  margin-top: 10%;
  }
  .recommendedPlanDivSkipped{
  margin-top: 19%;
  }
  .weightHealthy {
  width: 389px !important;
  height: 136px !important;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  margin-left: 1.5%;
  }
  .planBox {
  width: 88%;
  }
  .boxGridright,
  .boxGridleft {
  width: 86%;
  height: 74px;
  margin: 2% 4% 2% 2%;
  }
  .topTrainers > p,
  .testimonials > p {
  margin-left: 4%;
  }
  .trainerCardBox {
  width: 378px;
  }
  .boxGridright > .rightText {
  width: 40%;
  float: right;
  margin-right: 11%;
  }
  .boxGridleft > .leftText {
  width: 35%;
  float: left;
  margin-left: 2%;
  }
  .topTrainers,
  .testimonials {
  width: 100%;
  }
  .planButton {
  left: 7%;
  width: 84%;
  }
  .cardInline {
  margin-bottom: 8%;
  }
  .planBoxTwo {
  width: 360px !important;
  margin-bottom: -15% !important;
  height: 121px !important;
  margin-left: 2.5% !important;
  margin-top: 5%;
  }
  .planBoxOne{
  width: 362px !important;
  margin-top: 5%;
  margin-left: 2.5% !important;
  }
  .femaleDoctor{
  margin-bottom: -46%;
  }
  }
  /* Pixel 2*/
  @media screen and (device-width: 411px) and (device-height: 731px) and (-webkit-min-device-pixel-ratio:0) and (orientation: portrait){
  .pageCenter {
  margin-top: 0% !important;
  width: 100%;
  }
  .shapeTriangle {
  margin-top: -14.8%;
  margin-left: 99.8%;
  }
  .weightPlan {
  width: 97%;
  margin-left: 2%;
  }
  .weightPlanSkipped{
  width: 385px;
  margin-left: -2%;
  }
  .callDoctor {
  width: 100%;
  }
  .userTest{
  margin-left: -2%;
  }
  .BmiMeterNormal,
  .BmiMeter,
  .BmiMeterObese,
  .BmiMeterUnderWeight,
  .BmiMeterOverWeight,
  .BmiMeterSeverlyObese,
  .BmiMeterSeverlyUnderWeight {
  width: 411px;
  height: 410px;
  }
  .BmiMeterVerySeverelyObese {
  width: 411px;
  margin-top: -3.2%;
  height: 409.9px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-image: -webkit-linear-gradient(#a30e00 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#a30e00 27%, #6339bb 109%);
  background-image: linear-gradient(#a30e00 27%, #6339bb 109%);
  }
  .BmiMeterSeverelyUnderWeight{
  width: 411px;
  margin-top: -3.2%;
  height: 455.9px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  }
  .ResultDiv {
  width: 100%;
  margin-top: -6.7%;
  }
  .borderWidth {
  width: 100%;
  }
  #circle {
  margin-top: -17.35%;
  }
  #circleNew {
  margin-top: -38.6%;
  width: 24%;
  }
  #circle1 {
  margin-top: -37%;
  }
  #sign1 {
  margin-top: -44.5%;
  margin-left: -36.6%;
  }
  #sign2 {
  margin-top: -12%;
  margin-left: -18.5%;
  }
  #sign3 {
  margin-top: -3.5%;
  margin-left: 19%;
  }
  #sign4 {
  margin-top: 0.5%;
  margin-left: 31.5%;
  }
  #sign5 {
  margin-top: 3.2%;
  margin-left: 40%;
  }
  .healthRisk {
  width: 100%;
  height:auto;
  }
  .goalDiv {
  width: 100%;
  margin-bottom: 11%;
  }
  .goalGraph {
  width: 94%;
  }
  .recommendedPlanDiv {
  width: 100%;
  margin-top: 0%;
  position: relative;
  }
  .recommendedPlanDivSkipped{
  margin-top: 19%;
  }
  .recommendedPlanDivSkipped > p {
  margin-left: 1%;
  }
  .weightHealthy {
  width: 389px !important;
  height: 136px !important;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  margin-left: 1%;
  }
  .planBox {
  width: 88%;
  }
  .boxGridright,
  .boxGridleft {
  width: 87%;
  margin-left: 7px;
  height: 80px;
  margin-top: 2.5%;
  }
  .topTrainers > p,
  .testimonials > p {
  margin-left: 4%;
  }
  .trainerCardBox {
  width: 378px;
  }
  .boxGridright > .rightText {
  width: 40%;
  float: right;
  margin-right: 11%;
  }
  .boxGridleft > .leftText {
  width: 35%;
  float: left;
  margin-left: 2%;
  }
  .topTrainers,
  .testimonials {
  width: 100%;
  }
  .planButton {
  left: 1%;
  width: 93%;
  }
  .cardView{
  margin-bottom: 4%;
  }
  .cardInline {
  margin-bottom: 8%;
  width: 100%;
  }
  .planBoxTwo {
  width: 360px !important;
  margin-bottom: -15% !important;
  height: 121px !important;
  margin-left: 2.5% !important;
  margin-top: 5%;
  }
  .planBoxOne{
  width: 362px !important;
  margin-top: 5%;
  margin-left: 2.5% !important;
  }
  .Our-Professionals-ar{
  margin-top: 252px;
  margin-bottom: -130px;
  }
  .femaleDoctor{
  margin-bottom: -46%;
  }
  }
  /* Pixel 2 XL*/
  @media screen and (device-width: 411px) and (device-height: 823px) and (-webkit-min-device-pixel-ratio:0) and (orientation: portrait){
  .pageCenter {
  margin-top: 0% !important;
  width: 100%;
  }
  .shapeTriangle {
  margin-top: -14.8%;
  margin-left: 99.8%;
  }
  .callDoctor {
  width: 100%;
  }
  .BmiMeterNormal,
  .BmiMeter,
  .BmiMeterObese,
  .BmiMeterUnderWeight,
  .BmiMeterOverWeight,
  .BmiMeterSeverlyObese,
  .BmiMeterSeverlyUnderWeight {
  width: 410px;
  height: 410px;
  }
  .BmiMeterVerySeverelyObese {
  width: 411px;
  margin-top: -3.2%;
  height: 409.9px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-image: -webkit-linear-gradient(#a30e00 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#a30e00 27%, #6339bb 109%);
  background-image: linear-gradient(#a30e00 27%, #6339bb 109%);
  }
  .BmiMeterSeverelyUnderWeight{
  width: 410px;
  margin-top: -3.2%;
  height: 455.9px;
  }
  .weightPlan {
  width: 97%;
  margin-left: 2%;
  }
  .weightPlanSkipped{
  width: 385px;
  margin-left: -3%;
  }
  .ResultDiv {
  width: 100%;
  margin-top: -6.7%;
  }
  .borderWidth {
  width: 99%;
  }
  #circle {
  margin-top: -17.35%;
  }
  #circleNew {
  margin-top: -38%;
  width: 24%;
  }
  #circle1 {
  margin-top: -37%;
  }
  #sign1 {
  margin-top: -44.5%;
  margin-left: -35.6%;
  }
  #sign2 {
  margin-top: -12%;
  margin-left: -18.5%;
  }
  #sign3 {
  margin-top: -3.8%;
  margin-left: 19%;
  }
  #sign4 {
  margin-top: 0.5%;
  margin-left: 31.5%;
  }
  #sign5 {
  margin-top: 3.2%;
  margin-left: 41%;
  }
  .healthRisk {
  width: 100%;
  height: auto;
  }
  .healthRisk > p {
  margin-left: 4%;
  }
  .goalDiv {
  width: 100%;
  }
  .goalGraph {
  width: 98%;
  }
  .recommendedPlanDiv {
  width: 100%;
  margin-top: 11%;
  }
  .recommendedPlanDivSkipped{
  margin-top: 19%;
  }
  .recommendedPlanDivSkipped > p {
  margin-left: 1%;
  }
  .weightHealthy {
  width: 389px !important;
  height: 136px !important;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  margin-left: 1.5%;
  }
  .planBox {
  width: 88%;
  }
  .boxGridright,
  .boxGridleft {
  width: 85%;
  margin-left: 0%;
  margin-top: 2.5%;
  }
  .boxGridright > .rightText {
  width: 40%;
  float: right;
  margin-right: 11%;
  }
  .boxGridleft > .leftText {
  width: 35%;
  float: left;
  margin-left: 2%;
  }
  .topTrainers,
  .testimonials {
  width: 100%;
  margin-left: 1%;
  }
  .planButton {
  left: 2%;
  width: 92%;
  }
  .cardInline {
  margin-bottom: 12%;
  width: 100%;
  }
  .Our-Professionals-ar{
  margin-top: 251px;
  margin-bottom: -141px;
  }
  .planBoxTwo {
  width: 360px !important;
  margin-bottom: -15% !important;
  height: 121px !important;
  margin-left: 2.5% !important;
  margin-top: 5%;
  }
  .planBoxOne{
  width: 362px !important;
  margin-top: 5%;
  margin-left: 2.5% !important;
  }
  .femaleDoctor{
  margin-bottom: -46%;
  }
  }
  /* Iphone 6/7/8*/
  @media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-device-pixel-ratio:0) and (orientation: portrait){
  .pageCenter {
  margin-top: 0% !important;
  width: 100%;
  }
  .callDoctor {
  width: 95%;
  }
  .userTest{
  width: 90px;
  }
  .shapeTriangle{
  margin-left: 99.8%;
  margin-top: -15.6%;
  }
  .BmiMeterNormal,
  .BmiMeter,
  .BmiMeterObese,
  .BmiMeterUnderWeight,
  .BmiMeterOverWeight,
  .BmiMeterSeverlyObese,
  .BmiMeterSeverlyUnderWeight{
  width: 100%;
  height: 395.9px;
  }
  .BmiMeterNormal {
  background-image: -webkit-linear-gradient(#10a873 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#10a873 27%, #6339bb 109%);
  background-image: linear-gradient(#10a873 27%, #6339bb 109%);
  }
  .BmiMeter {
  background-image: -webkit-linear-gradient(#10a873 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#10a873 27%, #6339bb 109%);
  background-image: linear-gradient(#10a873 27%, #6339bb 109%);
  }
  .BmiMeterObese {
  background-image: -webkit-linear-gradient(#dc1818 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#dc1818 27%, #6339bb 109%);
  background-image: linear-gradient(#dc1818 27%, #6339bb 109%);
  }
  .BmiMeterUnderWeight {
  background-image: -webkit-linear-gradient(#134d9e 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#134d9e 27%, #6339bb 109%);
  background-image: linear-gradient(#134d9e 27%, #6339bb 109%);
  }
  .BmiMeterOverWeight {
  background-image: -webkit-linear-gradient(#ec4100 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#ec4100 27%, #6339bb 109%);
  background-image: linear-gradient(#ec4100 27%, #6339bb 109%);
  }
  .BmiMeterSeverlyObese {
  background-image: -webkit-linear-gradient(#a30e00 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#a30e00 27%, #6339bb 109%);
  background-image: linear-gradient(#a30e00 27%, #6339bb 109%);
  }
  .BmiMeterSeverlyUnderWeight {
  background-image: -webkit-linear-gradient(#052653 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#052653 27%, #6339bb 109%);
  background-image: linear-gradient(#052653 27%, #6339bb 109%);
  }
  .BmiMeterVerySeverelyObese {
  width:  100%;
  margin-top: -3.2%;
  height: 395.9px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-image: -webkit-linear-gradient(#a30e00 27%, #6339bb 109%);
  background-image: -o-linear-gradient(#a30e00 27%, #6339bb 109%);
  background-image: linear-gradient(#a30e00 27%, #6339bb 109%);
  }
  .BmiMeterSeverelyUnderWeight{
  width:  100%;
  margin-top: -3.2%;
  height: 452.9px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  }
  .bmiLimit{
  font-size: 6px;
  }
  .ResultDiv {
  width: 100%;
  margin-top: -7.5%;
  }
  .healthStatus {
  color: #fff;
  padding-top: 49%;
  font-size: 2.5em;
  text-align: center;
  }
  .goalGraph {
  width: 368px;
  }
  .healthRisk {
  width: 100%;
  height: auto;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  overflow-y: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  }
  .healthRisk > p {
  margin-left: 4%;
  }
  .goalDiv {
  width: 394px;
  height: 232px;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 11%;
  }
  .recommendedPlanDiv {
  width: 100%;
  height: auto;
  margin-top: 0%;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  position: relative;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: -1.2%;
  }
  .cardInline {
  display: flex;
  margin-bottom: 15%;
  overflow-x: scroll;
  width: 100%;
  margin-left: 3%;
  }
  .recommendedPlanDivSkipped{
  margin-top: 19%;
  }
  .recommendedPlanDivSkipped > p {
  margin-left: 1%;
  }
  .weightHealthy {
  width: 389px !important;
  height: 136px !important;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  margin-left: 1.5%;
  }
  .topTrainers,
  .testimonials {
  width: 100%;
  height: auto;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  }
  .planBox {
  width: 327px;
  }
  .boxGridright,
  .boxGridleft {
  width: 327px;
  margin-left: 0px;
  }
  .trainerCardBox {
  display: flex;
  overflow-x: scroll;
  width: 370px;
  }
  .planButton {
  background-color: #01a62d;
  border-radius: 15px;
  padding: 12px;
  color: #fff;
  font-size: 15px;
  border: 0px;
  bottom: 0;
  left: 4%;
  width: 344px;
  position: fixed;
  right: 0;
  }
  .borderWidth {
  width: 99%;
  border: 2px solid #d8d8d8;
  }
  #sign1 {
  margin-top: -49%;
  margin-left: -37.6%;
  }
  #sign2 {
  margin-top: -12.5%;
  margin-left: -19.5%;
  }
  #sign3 {
  margin-top: -4%;
  margin-left: 20%;
  }
  #sign4 {
  margin-top: 0%;
  margin-left: 33.5%;
  }
  #sign5 {
  margin-top: 4%;
  margin-left: 43%;
  }
  #circle {
  margin-top: -19.5%;
  }
  #circleNew {
  margin-top: -40%;
  width: 26%;
  }
  #circle1 {
  margin-top: -40%;
  }
  .Our-Professionals-ar{
  margin-top: 234px;
  margin-bottom: -129px;
  }
  .planBoxTwo {
  width: 360px !important;
  margin-bottom: -15% !important;
  height: 121px !important;
  margin-left: 2.5% !important;
  margin-top: 5%;
  }
  .planBoxOne{
  width: 362px !important;
  margin-top: 5%;
  margin-left: 2.5% !important;
  }
  .femaleDoctor{
  margin-bottom: -46%;
  }
  .weightPlanSkipped{
  width: 385px;
  margin-left: -1%;
  }
  }
  /* Iphone 5 */
  @media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-min-device-pixel-ratio:0) and (orientation: portrait){
  .pageCenter {
  margin-top: 0% !important;
  width: 100%;
  }
  .callDoctor {
  width: 393px;
  }
  .userTest{ 
  width: 90px;
  }
  .shapeTriangle{
  margin-top: -15.6%;
  }
  .BmiMeterNormal,
  .BmiMeter,
  .BmiMeterObese,
  .BmiMeterUnderWeight,
  .BmiMeterOverWeight,
  .BmiMeterSeverlyObese,
  .BmiMeterSeverlyUnderWeight {
  width: 405px;
  height: 408px;
  margin-left: -4%;
  }
  .bmiLimit{
  font-size: 6px;
  }
  .weightPlanSkipped{
  width: 385px;
  margin-left: 1%;
  }
  .ResultDiv {
  width: 393px;
  margin-top: -9.7%;
  margin-left: 4%;
  }
  .borderWidth {
  width: 100%;
  }
  #circle {
  margin-top: -17.7%;
  }
  #circleNew {
  width: 103px;
  height: 103px;
  border: 23.8px solid #fff;
  margin-top: -39%;
  border-radius: 50%;
  }
  #circle1 {
  margin-top: -39%;
  }
  #sign1 {
  margin-top: -44.8%;
  margin-left: -36.6%;
  }
  #sign2 {
  margin-top: -12%;
  margin-left: -18.5%;
  }
  #sign3 {
  margin-top: -4.5%;
  margin-left: 77px;
  }
  #sign4 {
  margin-top: 1%;
  margin-left: 32.5%;
  }
  #sign5 {
  margin-top: 3.2%;
  margin-left: 41%;
  }
  .healthRisk {
  width: 396px;
  height: auto;
  }
  .diseaseCardWrapper {
  display: flex;
  height: 170px;
  margin-left: 4%;
  }
  .diseaseDiv1 {
  width: 28%;
  height: auto;
  margin-bottom: 1%;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,.12), 0 0 1px 0 hsla(0,0%,95.7%,.5);
  background-color: #fff;
  border: .4px solid #efefef;
  position: relative;
  margin-right: 3%;
  padding: 2% 3% 0;
  }
  .goalDiv {
  width: 365px;
  }
  .goalGraph {
  width: 94%;
  }
  .recommendedPlanDiv {
  width: 355px;
  margin-top: 0%;
  position: relative;
  }
  .recommendedPlanDivSkipped{
  margin-top: 19%;
  }
  .recommendedPlanDivSkipped > p {
  margin-left: 5%;
  }
  .weightHealthy {
  width: 389px !important;
  height: 136px !important;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  margin-left: 1.5%;
  }
  .planBox {
  width: 88%;
  }
  .boxGridright,
  .boxGridleft {
  width: 106%;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 14px;
  }
  .boxGridright > .rightText {
  width: 40%;
  float: right;
  margin-right: 4%;
  }
  .boxGridleft > .leftText {
  width: 35%;
  float: left;
  margin-left: 2%;
  }
  .topTrainers,
  .testimonials {
  width: 394px;
  }
  .testimonials {
  margin-bottom: 12%;
  }
  .trainerCardBox {
  width: 372px;
  }
  .planButton {
  left: 2%;
  width: 91%;
  }
  .cardInline {
  margin-bottom: 8%;
  margin-left: 2%;
  }
  .shapeTriangle {
  margin-left: 99.8%;
  }
  .weightPlan {
  width: 102%;
  margin-left: 2%;
  }
  .planBoxTwo {
  width: 360px !important;
  margin-bottom: -15% !important;
  height: 121px !important;
  margin-left: 2.5% !important;
  margin-top: 5%;
  }
  .planBoxOne{
  width: 362px !important;
  margin-top: 5%;
  margin-left: 2.5% !important;
  }
  .femaleDoctor{
  margin-bottom: -46%;
  }
  }
  /* Iphone */
  @media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-min-device-pixel-ratio:0) and (orientation: portrait){
  .callDoctor {
  width: 100%;
  height: 40px;
  display: flex;
  box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  padding: 9.4px;
  }
  .userTest{
  width: 90px;
  }
  .cardInline {
  margin-bottom: 8%;
  margin-left: 3%;
  width: 100%;
  }
  .shapeTriangle{
  margin-top: -15.6%;
  }
  .BmiMeterNormal,
  .BmiMeter,
  .BmiMeterObese,
  .BmiMeterUnderWeight,
  .BmiMeterOverWeight,
  .BmiMeterSeverlyObese,
  .BmiMeterSeverlyUnderWeight {
  width: 100%;
  margin-top: -3%;
  height: 414.9px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  }
  .BmiMeterVerySeverelyObese {
  width: 100%;
  margin-top: -3.2%;
  height: 414.9px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-image: linear-gradient(to bottom, #a30e00 27%, #6339bb 109%);
  }
  .BmiMeterSeverelyUnderWeight{
  height: 100%;
  width: 412px;
  }
  .bmiLimit{
  font-size: 6px;
  }
  .weightPlan {
  width: 99%;
  margin-left: 1%;
  }
  .BmiMeterNormal {
  background-image: linear-gradient(to bottom, #10a873 27%, #6339bb 109%);
  }
  .BmiMeter {
  background-image: linear-gradient(to bottom, #10a873 27%, #6339bb 109%);
  }
  .BmiMeterObese {
  background-image: linear-gradient(to bottom, #dc1818 27%, #6339bb 109%);
  }
  .BmiMeterUnderWeight {
  background-image: linear-gradient(to bottom, #134d9e 27%, #6339bb 109%);
  }
  .BmiMeterOverWeight {
  background-image: linear-gradient(to bottom, #ec4100 27%, #6339bb 109%);
  }
  .BmiMeterSeverlyObese {
  background-image: linear-gradient(to bottom, #a30e00 27%, #6339bb 109%);
  }
  .BmiMeterSeverlyUnderWeight {
  background-image: linear-gradient(to bottom, #052653 27%, #6339bb 109%);
  }
  .ResultDiv {
  width: 100%;
  height: auto;
  position: absolute;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border-radius: 7px;
  z-index: 99;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }
  .recommendedPlanDivSkipped{
  margin-top: 19%;
  }
  .recommendedPlanDivSkipped > p {
  margin-left: 1%;
  }
  .healthStatus {
  color: #fff;
  padding-top: 49%;
  font-size: 2.5em;
  text-align: center;
  }
  #circleNew {
  width: 103px;
  height: 103px;
  border: 23.8px solid #fff;
  margin-top: -38%;
  border-radius: 50%;
  }
  #circle1 {
  background: #fff;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  margin-top: -37%;
  margin-left: 0.5%;
  }
  .healthRisk {
  width: 100%;
  height: auto;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  overflow-y: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  }
  .goalDiv {
  width: 100%;
  height: 232px;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 11%;
  }
  .recommendedPlanDiv {
  width: 100%;
  height: auto;
  margin-top: 0%;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: -1.2%;
  position: relative;
  }
  .weightHealthy {
  width: 389px !important;
  height: 136px !important;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  margin-left: 1.5%;
  }
  .topTrainers,
  .testimonials {
  width: 100%;
  height: auto;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  }
  .planBox {
  width: 347px;
  }
  .boxGridright,
  .boxGridleft {
  width: 91%;
  margin-left: 0%;
  margin-top: 2%;
  }
  .trainerCardBox {
  display: flex;
  overflow-x: scroll;
  width: 94%;
  margin-left: 1%;
  }
  .planButton {
  background-color: #01a62d;
  border-radius: 15px;
  padding: 12px;
  color: #fff;
  font-size: 15px;
  border: 0px;
  bottom: 0;
  left: 4%;
  width: 377px;
  position: fixed;
  right: 0;
  }
  .borderWidth {
  width: 100%;
  border: 2px solid #d8d8d8;
  }
  #sign1 {
  margin-top: -44%;
  margin-left: -36.6%;
  }
  #sign2 {
  margin-top: -12%;
  margin-left: -18.5%;
  }
  #sign3 {
  margin-top: -4%;
  margin-left: 19%;
  }
  #sign4 {
  margin-top: 1%;
  margin-left: 31.5%;
  }
  #sign5 {
  margin-top: 3.2%;
  margin-left: 40%;
  }
  #circle {
  width: 160px;
  background: rgba(0, 0, 0, 0);
  height: 148px;
  border: 17px solid white;
  margin-top: -17.9%;
  border-radius: 50%;
  mix-blend-mode: overlay;
  opacity: 0.4;
  }
  .diseaseDiv1,
  .diseaseDiv2,
  .diseaseDiv3 {
  width: 30%;
  }
  .testimonials {
  margin-bottom: 12%;
  }
  .planBoxTwo {
  width: 360px !important;
  margin-bottom: -15% !important;
  height: 121px !important;
  margin-left: 2.5% !important;
  margin-top: 5%;
  }
  .planBoxOne{
  width: 362px !important;
  margin-top: 5%;
  margin-left: 2.5% !important;
  }
  .femaleDoctor{
  margin-bottom: -46%;
  }
  .weightPlanSkipped{
  width: 385px;
  margin-left: -2%;
  }
  }
  /* Iphone X */
  @media screen and (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio:0) and (orientation: portrait){
  .callDoctor {
  width: 95%;
  height: 40px;
  display: flex;
  margin-top: -12%;
  box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  padding: 9.4px;
  }
  .cardInline {
  margin-left: 2%;
  }
  .userTest{
  width: 90px;
  }
  .shapeTriangle {
  width: 0;
  height: 0;
  margin-top: -15.6%;
  margin-left: 100%;
  border-top: 12.5px solid transparent;
  border-left: 30px solid #5d5eb9;
  border-bottom: 13.5px solid transparent;
  }
  .diseaseCardWrapper {
  display: flex;
  height: auto;
  margin-left: 1%;
  }
  .BmiMeterNormal,
  .BmiMeter,
  .BmiMeterObese,
  .BmiMeterUnderWeight,
  .BmiMeterOverWeight,
  .BmiMeterSeverlyObese,
  .BmiMeterSeverlyUnderWeight {
  width: 100%;
  margin-top: -11%;
  height: 396.9px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  }
  .BmiMeterSeverelyUnderWeight{
  width: 374px;
  margin-top: -10.2%;
  height: 441.9px;
  }
  .BmiMeterVerySeverelyObese{
  width: 371px;
  margin-top: -11.2%;
  height: 440.9px;
  }
  .BmiMeterNormal {
  background-image: linear-gradient(to bottom, #10a873 27%, #6339bb 109%);
  }
  .BmiMeter {
  background-image: linear-gradient(to bottom, #10a873 27%, #6339bb 109%);
  }
  .BmiMeterObese {
  background-image: linear-gradient(to bottom, #dc1818 27%, #6339bb 109%);
  }
  .BmiMeterUnderWeight {
  background-image: linear-gradient(to bottom, #134d9e 27%, #6339bb 109%);
  }
  .BmiMeterOverWeight {
  background-image: linear-gradient(to bottom, #ec4100 27%, #6339bb 109%);
  }
  .BmiMeterSeverlyObese {
  background-image: linear-gradient(to bottom, #a30e00 27%, #6339bb 109%);
  }
  .BmiMeterSeverlyUnderWeight {
  background-image: linear-gradient(to bottom, #052653 27%, #6339bb 109%);
  }
  .bmiLimit{
  font-size: 6px;
  }
  .ResultDiv {
  width: 100%;
  height: auto;
  position: absolute;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border-radius: 7px;
  z-index: 99;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }
  .healthStatus {
  color: #fff;
  padding-top: 49%;
  font-size: 2.5em;
  text-align: center;
  }
  #circleNew {
  width: 96px;
  height: 103px;
  border: 23.8px solid #fff;
  margin-top: -42%;
  border-radius: 50%;
  }
  #circle1 {
  background: #fff;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  margin-top: -42%;
  margin-left: 0.5%;
  }
  .healthRisk {
  width: 100%;
  height: auto;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  overflow-y: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  }
  .healthRisk > p{
  margin-left: 4%;
  }
  .goalDiv {
  width: 100%;
  height: 232px;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 12%;
  }
  .recommendedPlanDiv {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 0%;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: -1.2%;
  }
  .recommendedPlanDivSkipped{
  margin-top: 19%;
  }
  
  .weightPlanSkipped{
  width: 385px;
  margin-left: -1%;
  }
  .weightHealthy {
  width: 389px !important;
  height: 136px !important;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  margin-left: 1.5%;
  }
  .topTrainers,
  .testimonials {
  width: 100%;
  height: auto;
  color: #4c4c4c;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  }
  .planBox {
  width: 347px;
  }
  .boxGridright,
  .boxGridleft {
  width: 331px;
  margin-left: -1%;
  margin-top: 2%;
  }
  .trainerCardBox {
  display: flex;
  overflow-x: scroll;
  width: 370px;
  }
  .planButton {
  background-color: #01a62d;
  border-radius: 15px;
  padding: 12px;
  color: #fff;
  font-size: 15px;
  border: 0px;
  bottom: 0;
  left: 4%;
  width: 344px;
  position: fixed;
  right: 0;
  }
  .borderWidth {
  width: 99%;
  border: 2px solid #d8d8d8;
  }
  #sign1 {
  margin-top: -48.9%;
  margin-left: -40.6%;
  }
  #sign2 {
  margin-top: -13.5%;
  margin-left: -20.5%;
  }
  #sign3 {
  margin-top: -4%;
  margin-left: 20%;
  }
  #sign4 {
  margin-top: 1%;
  margin-left: 34.5%;
  }
  #sign5 {
  margin-top: 3.2%;
  margin-left: 44%;
  }
  #circle {
  width: 160px;
  background: rgba(0, 0, 0, 0);
  height: 148px;
  border: 17px solid white;
  margin-top: -18.7%;
  border-radius: 50%;
  mix-blend-mode: overlay;
  opacity: 0.4;
  }
  .planBoxOne{
  margin-top: 4%;
  }
  .planBoxTwo{
  margin-top: 4%;
  margin-bottom: -15% !important;
  }
  .planBoxTwo {
  width: 360px !important;
  margin-bottom: -15% !important;
  height: 121px !important;
  margin-left: 2.5% !important;
  margin-top: 5%;
  }
  .planBoxOne{
  width: 362px !important;
  margin-top: 5%;
  margin-left: 2.5% !important;
  }
  .femaleDoctor{
  margin-bottom: -46%;
  }
  }
  /*One PLus 6*/
  @media screen and (device-width:412px) and (-webkit-min-device-pixel-ratio:0) and (orientation: portrait){
  .pageCenter {
  margin-top: 0% !important;
  width: 408px;
  }
  .diseaseDiv1,
  .diseaseDiv2,
  .diseaseDiv3 {
  width: 25%;
  }
  .shapeTriangle {
  margin-top: -14.8%;
  margin-left: 99.7%;
  }
  .weightPlan {
  width: 385px;
  margin-left: 2%;
  }
  .weightPlanSkipped{
  width: 385px;
  margin-left: -5%;
  }
  .callDoctor {
  width: 96.5%;
  }
  .userTest{
  margin-left: 2%;
  }
  .BmiMeterNormal,
  .BmiMeter,
  .BmiMeterObese,
  .BmiMeterUnderWeight,
  .BmiMeterOverWeight,
  .BmiMeterSeverlyObese,
  .BmiMeterSeverlyUnderWeight {
  width: 411px;
  height: 410px;
  }
  .BmiMeterVerySeverelyObese {
  width: 411px;
  margin-top: -3.2%;
  height: 409.9px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-image: linear-gradient(to bottom, #a30e00 27%, #6339bb 109%);
  }
  .BmiMeterSeverelyUnderWeight{
  width: 411px;
  margin-top: -3.2%;
  height: 455.9px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  }
  .ResultDiv {
  width: 100%;
  margin-top: -6.7%;
  }
  .borderWidth {
  width: 99%;
  }
  #circle {
  margin-top: -17.6%;
  }
  #circleNew {
  margin-top: -38%;
  width: 24%;
  }
  #circle1 {
  margin-top: -38%;
  }
  #sign1 {
  margin-top: -44.5%;
  margin-left: -36.6%;
  }
  #sign2 {
  margin-top: -12%;
  margin-left: -18.5%;
  }
  #sign3 {
  margin-top: -3.5%;
  margin-left: 19%;
  }
  #sign4 {
  margin-top: 0.5%;
  margin-left: 31.5%;
  }
  #sign5 {
  margin-top: 3.2%;
  margin-left: 40%;
  }
  .healthRisk {
  width: 100%;
  height: auto;
  }
  .goalDiv {
  width: 100%;
  }
  .goalGraph {
  width: 94%;
  }
  .recommendedPlanDiv {
  width: 100%;
  margin-top: 11%;
  }
  .recommendedPlanDivSkipped{
  margin-top: 19%;
  }
  .recommendedPlanDivSkipped > p {
  margin-left: -1%;
  }
  .planBox {
  width: 88%;
  }
  .boxGridright,
  .boxGridleft {
  width: 86%;
  margin-left: 0px;
  height: 82px;
  margin-top: 2%;
  }
  .topTrainers > p,
  .testimonials > p {
  margin-left: 4%;
  }
  .trainerCardBox {
  width: 378px;
  }
  .diseaseCardWrapper {
  margin-left: 2%;
  }
  .boxGridright > .rightText {
  width: 40%;
  float: right;
  margin-right: 11%;
  }
  .boxGridleft > .leftText {
  width: 35%;
  float: left;
  margin-left: 2%;
  }
  .topTrainers,
  .testimonials {
  width: 100%;
  }
  .testimonials {
  margin-bottom: 11%;
  }
  .planButton {
  left: 3%;
  width: 92%;
  margin-bottom: 3%;
  }
  .cardInline {
  margin-bottom: 8%;
  width: 97%;
  margin-left: 3%;
  }
  .loadingDiv {
  margin-top: 288px;
  }
  .Our-Professionals-ar{
  margin-top: 252px;
  margin-bottom: -240px;
  }
  .planBoxTwo {
  width: 360px !important;
  margin-bottom: -15% !important;
  height: 121px !important;
  margin-left: 2.5% !important;
  margin-top: 5%;
  }
  .planBoxOne{
  width: 362px !important;
  margin-top: 5%;
  margin-left: 2.5% !important;
  }
  .femaleDoctor{
  margin-bottom: -46%;
  }
  .weightHealthy {
  width: 389px !important;
  height: 136px !important;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  margin-left: 1.5%;
  }
  }
  /*One Plus */
  @media screen and (device-width:392px) and (orientation: portrait){
  
  .pageCenter {
  margin-top: 0% !important;
  width: 408px;
  }
  .diseaseDiv1,
  .diseaseDiv2,
  .diseaseDiv3 {
  width: 25%;
  }
  .shapeTriangle {
  margin-top: -14.8%;
  }
  .weightPlan {
  width: 388px;
  margin-left: 2%;
  }
  .weightPlanSkipped{
  width: 385px;
  margin-left: -1%;
  }
  .callDoctor {
  width: 96.5%;
  }
  .BmiMeterNormal,
  .BmiMeter,
  .BmiMeterObese,
  .BmiMeterUnderWeight,
  .BmiMeterOverWeight,
  .BmiMeterSeverlyObese,
  .BmiMeterSeverlyUnderWeight {
  width: 411px;
  height: 410px;
  }
  .ResultDiv {
  width: 105.3%;
  margin-top: -6.7%;
  }
  .borderWidth {
  width: 99%;
  }
  #circle {
  margin-top: -14.6%;
  }
  #circleNew {
  margin-top: -38%;
  width: 97px;
  }
  #circle1 {
  margin-top: -38%;
  width: 99px;
  }
  #sign1 {
  margin-top: -43.5%;
  margin-left: -36.6%;
  }
  #sign2 {
  margin-top: -12%;
  margin-left: -21.5%;
  }
  #sign3 {
  margin-top: -6.5%;
  margin-left: 0%;
  }
  #sign4 {
  margin-top: -1.5%;
  margin-left: 21.5%;
  }
  #sign5 {
  margin-top: 4.2%;
  margin-left: 39%;
  }
  .healthRisk {
  width: 100%;
  height: auto;
  }
  .goalDiv {
  width: 100%;
  }
  .goalGraph {
  width: 94%;
  }
  .recommendedPlanDiv {
  width: 100%;
  margin-top: 20%;
  }
  .recommendedPlanDivSkipped{
  margin-top: 19%;
  }
  .recommendedPlanDivSkipped > p {
  margin-left: 1%;
  }
  .planBox {
  width: 88%;
  }
  .boxGridright,
  .boxGridleft {
  width: 86%;
  margin-left: 0px;
  height: 77px;
  margin-top: 2%;
  }
  .topTrainers > p,
  .testimonials > p {
  margin-left: 4%;
  }
  .trainerCardBox {
  width: 378px;
  }
  .diseaseCardWrapper {
  margin-left: 2%;
  }
  .boxGridright > .rightText {
  width: 40%;
  float: right;
  margin-right: 11%;
  }
  .boxGridleft > .leftText {
  width: 35%;
  float: left;
  margin-left: 2%;
  }
  .topTrainers,
  .testimonials {
  width: 100%;
  }
  .testimonials {
  margin-bottom: 11%;
  }
  .planButton {
  left: 2%;
  width: 92%;
  margin-bottom: 9%;
  }
  .cardInline {
  margin-bottom: 8%;
  width: 100%;
  margin-left: 3%;
  }
  .loadingDiv {
  margin-top: 288px;
  }
  .planButton{
  margin-bottom: 2%;
  width: 95%;
  }
  .planBoxTwo {
  width: 360px !important;
  margin-bottom: -15% !important;
  height: 121px !important;
  margin-left: 2.5% !important;
  margin-top: 5%;
  }
  .planBoxOne{
  width: 362px !important;
  margin-top: 5%;
  margin-left: 2.5% !important;
  }
  .femaleDoctor{
  margin-bottom: -46%;
  }
  .weightHealthy {
  width: 389px !important;
  height: 136px !important;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  margin-left: 1.5%;
  }
  }
  @media screen and (device-width: 375px) and (device-height: 767px) and (orientation: portrait) {
  
  .pageCenter {
  margin-top: 0% !important;
  width: 408px;
  }
  .diseaseDiv1,
  .diseaseDiv2,
  .diseaseDiv3 {
  width: 25%;
  }
  .shapeTriangle {
  margin-top: -14.8%;
  margin-left: 99.7%;
  }
  .weightPlan {
  width: 385px;
  margin-left: 2%;
  }
  .weightPlanSkipped{
  width: 385px;
  margin-left: -1%;
  }
  .callDoctor {
  width: 95.5%;
  }
  .userTest{
  margin-left: 2%;
  }
  .BmiMeterNormal,
  .BmiMeter,
  .BmiMeterObese,
  .BmiMeterUnderWeight,
  .BmiMeterOverWeight,
  .BmiMeterSeverlyObese,
  .BmiMeterSeverlyUnderWeight {
  width: 411px;
  height: 410px;
  }
  .ResultDiv {
  width: 411px;
  margin-top: -6.7%;
  }
  .borderWidth {
  width: 99%;
  }
  #circle {
  margin-top: -14.6%;
  }
  #circleNew {
  margin-top: -38%;
  width: 24%;
  }
  #circle1 {
  margin-top: -38%;
  }
  #sign1 {
  margin-top: -43.5%;
  margin-left: -36.6%;
  }
  #sign2 {
  margin-top: -12%;
  margin-left: -21.5%;
  }
  #sign3 {
  margin-top: -6.5%;
  margin-left: 0%;
  }
  #sign4 {
  margin-top: -1.5%;
  margin-left: 21.5%;
  }
  #sign5 {
  margin-top: 4.2%;
  margin-left: 39%;
  }
  .healthRisk {
  width: 100%;
  height: auto;
  }
  .goalDiv {
  width: 100%;
  }
  .goalGraph {
  width: 94%;
  }
  .recommendedPlanDiv {
  width: 100%;
  margin-top: 20%;
  }
  .recommendedPlanDivSkipped{
  margin-top: 19%;
  }
  
  .planBox {
  width: 88%;
  }
  .boxGridright,
  .boxGridleft {
  width: 86%;
  margin-left: 0px;
  height: 82px;
  margin-top: 2%;
  }
  .topTrainers > p,
  .testimonials > p {
  margin-left: 4%;
  }
  .trainerCardBox {
  width: 378px;
  }
  .diseaseCardWrapper {
  margin-left: 2%;
  }
  .boxGridright > .rightText {
  width: 40%;
  float: right;
  margin-right: 11%;
  }
  .boxGridleft > .leftText {
  width: 35%;
  float: left;
  margin-left: 2%;
  }
  .topTrainers,
  .testimonials {
  width: 100%;
  }
  .testimonials {
  margin-bottom: 11%;
  }
  .planButton {
  left: 3%;
  width: 92%;
  margin-bottom: 3%;
  }
  .cardInline {
  margin-bottom: 8%;
  width: 100%;
  margin-left: 3%;
  }
  .loadingDiv {
  margin-top: 288px;
  }
  .Our-Professionals-ar{
  margin-top: 252px;
  margin-bottom: -240px;
  }
  .planBoxTwo {
  width: 360px !important;
  margin-bottom: -15% !important;
  height: 121px !important;
  margin-left: 2.5% !important;
  margin-top: 5%;
  }
  .planBoxOne{
  width: 362px !important;
  margin-top: 5%;
  margin-left: 2.5% !important;
  }
  .femaleDoctor{
  margin-bottom: -46%;
  }
  .weightHealthy {
  width: 389px !important;
  height: 136px !important;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  margin-left: 1.5%;
  }
  }
  
  @media screen and (min-width:321px) and (max-width: 373px) and (orientation: portrait){
  .pageCenter {
  margin-top: 0% !important;
  width: 408px;
  }
  .diseaseDiv1,
  .diseaseDiv2,
  .diseaseDiv3 {
  width: 25%;
  }
  .shapeTriangle {
  margin-top: -14.8%;
  margin-left: 99.7%;
  }
  .weightPlan {
  width: 383px;
  margin-left: 2%;
  }
  .weightPlanSkipped{
  width: 385px;
  margin-left: -1%;
  }
  .callDoctor {
  width: 95.7%;
  }
  .userTest{
  margin-left: 2%;
  }
  .BmiMeterNormal,
  .BmiMeter,
  .BmiMeterObese,
  .BmiMeterUnderWeight,
  .BmiMeterOverWeight,
  .BmiMeterSeverlyObese,
  .BmiMeterSeverlyUnderWeight {
  width: 411px;
  height: 410px;
  }
  .BmiMeterVerySeverelyObese{
  width: 411px;
  margin-top: -3.2%;
  height: 408.9px;
  }
  .BmiMeterSeverlyUnderWeight{
  width: 411px;
  margin-top: -3.2%;
  height: 408.9px;
  }
  .ResultDiv {
  width: 411px;
  margin-top: -9.7%;
  }
  .borderWidth {
  width: 99%;
  }
  #circle {
  margin-top: -17.35%;
  }
  #circleNew {
  margin-top: -38.6%;
  width: 24%;
  }
  #circle1 {
  margin-top: -37%;
  }
  #sign1 {
  margin-top: -44.5%;
  margin-left: -36.6%;
  }
  #sign2 {
  margin-top: -12%;
  margin-left: -18.5%;
  }
  #sign3 {
  margin-top: -3.5%;
  margin-left: 19%;
  }
  #sign4 {
  margin-top: 0.5%;
  margin-left: 31.5%;
  }
  #sign5 {
  margin-top: 3.2%;
  margin-left: 40%;
  }
  .healthRisk {
  width: 100%;
  height: auto;
  }
  .goalDiv {
  width: 100%;
  margin-bottom: 9%;
  }
  .goalGraph {
  width: 94%;
  }
  .recommendedPlanDiv {
  width: 100%;
  margin-top: 0%;
  position: relative;
  }
  .recommendedPlanDivSkipped{
  margin-top: 19%;
  }
  
  .weightHealthy {
  width: 389px !important;
  height: 136px !important;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  margin-left: 1.5%;
  }
  .planBox {
  width: 88%;
  }
  .boxGridright,
  .boxGridleft {
  width: 88%;
  margin-left: -2px;
  height: 82px;
  margin-top: 2%;
  }
  .topTrainers > p,
  .testimonials > p {
  margin-left: 4%;
  }
  .trainerCardBox {
  width: 378px;
  }
  .diseaseCardWrapper {
  margin-left: 2%;
  }
  .boxGridright > .rightText {
  width: 40%;
  float: right;
  margin-right: 11%;
  }
  .boxGridleft > .leftText {
  width: 35%;
  float: left;
  margin-left: 2%;
  }
  .topTrainers,
  .testimonials {
  width: 100%;
  }
  .testimonials {
  margin-bottom: 11%;
  }
  .planButton {
  left: 3%;
  width: 94%;
  margin-bottom: 3%;
  }
  .cardInline {
  margin-bottom: 8%;
  width: 94%;
  margin-left: 3%;
  }
  .loadingDiv {
  margin-top: 288px;
  }
  .Our-Professionals-ar{
  margin-top: 252px;
  margin-bottom: -240px;
  }
  .planBoxTwo {
  width: 360px !important;
  margin-bottom: -15% !important;
  height: 121px !important;
  margin-left: 2.5% !important;
  margin-top: 5%;
  }
  .planBoxOne{
  width: 362px !important;
  margin-top: 5%;
  margin-left: 2.5% !important;
  }
  .femaleDoctor{
  margin-bottom: -46%;
  }
  }